.navbar {
    /* border: 1px solid black; */
    margin-left: 100px;
}

/* Mid section */
.midSection {
    margin-top: 50px;

}

.card {
    border: 5px solid #06f;
    margin: auto;
    border-radius: 10px;
}

.imagetext {
    background-color: #06f;
    color: white;
}


